* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow: hidden;
}
#campo {
    background-color: #101010;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#player {
    position: absolute;
    background-color: #eeb422;
    width: 20PX;
    height: 20PX;
    border-radius: 100%;

}

.inimigo {
    position: absolute;
    background-color: #3b4b64;
    border-radius: 00px;
}
.quiz{
    border-radius: 100%;
    background-color: #84CC16;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
}