* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow: hidden;
    position: relative;
}
#campo {
    background-color: #101010;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#player {
    position: absolute;
    background-color: #eeb422;
    width: 20PX;
    height: 20PX;
    border-radius: 100%;

}

.inimigo {
    position: absolute;
    background-color: #3b4b64;
    border-radius: 00px;
}
.quiz{
    border-radius: 100%;
    background-color: #83cc16;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    
}
.quizModalContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #10101086;
    z-index: 99;
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s opacity;

}
.cardquiz{
    background-color: #070707;
    width: 500px;
    height: 500px;
     border-radius: 20px;
     color: #Fff;
     h3{
        text-align: center;
        margin-top: 3%;
     }
}
.questoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px; 
    justify-content: center;
    height: 90%;
    
.questao{
    width: 90%;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background-color: #3b4b64;
    display: flex;
    align-items: center;
    padding: 2% 2%;
    cursor: pointer;
    span{
        color: #bd16cc
    };
    p{
        margin-left: 2%;
        text-align: center;
        flex: 1;
    }
    &:hover{
        background-color: #021e5c;
    }

}
.selecionado{
     background-color: #012269;
}
}



#MsgContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #10101086;
    z-index: 99;
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    justify-content: center;
}
#MsgContainer2{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #10101086;
    z-index: 99;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardMsg{
    background-color: #070707;
    width: 500px;
    height: 200px;
     border-radius: 20px;
     color: #Fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    p{
        font-size: 20px;
        color: #83cc16;
        margin-top:40px ;
        font-weight: bold;

    }
    button{
        margin-top:40px ;
        width: 200px;
        height: 40px;
        border: 1px solid #bd16cc;
        background-color:transparent;
        border-radius: 10px;
        font-weight: bold;
        color: #bd16cc;
        font-size: 17px;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
            color: #ffffff;
            background-color: #bd16cc;
                    border: none;

        }
    }
}